html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#pageWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white; }

#mainCanvas {
  background: black; }

/*# sourceMappingURL=main.css.map */
